[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
mysql-connector-python = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = '.\\scripts\\start.sh'
dev = '.\\scripts\\dev.sh'
init-dev-db = '.\\scripts\\init_dev_db.sh'
